<template>
  <Layout>
    <div class="layout">
      <h1>Contact us</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloremque omnis animi, eligendi magni a voluptatum, vitae, consequuntur rerum illum odit fugit assumenda rem dolores inventore iste reprehenderit maxime! Iusto.</p>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Contact us'
  }
}
</script>

<style>
.layout {
  max-width: 760px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  flex: 1;
}
</style>
