<template>
  <Layout>
    <div class="layout">
      <h1>Hello, world!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur excepturi labore tempore expedita, et iste tenetur suscipit explicabo! Dolores, aperiam non officia eos quod asperiores
      </p>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>

<style>
.layout {
  max-width: 760px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  flex: 1;
}
</style>
