<template>
    <footer>
        <div class="footer-content">
            <p>© 2019 Your Site All Rights Reserved.</p>
        </div>
    </footer>
</template>

<style>
footer {
    background-color: #333333;
}

.footer-content {
    max-width: 760px;
    margin: 0 auto;
    padding: 20px;
    color: #EEEEEF;
}

.footer-content p {
    text-align: center;
}
</style>
