<template>
  <header>
    <div class="nav-container">
      <div class="brand">
        <g-link class="nav-link" to="/">
          <g-image alt="logo" src="" width="200"/>
        </g-link>
        <a class="nav-link icon" @click="toggleClass">
          <div v-if="!isResponsive">
            <font-awesome-icon icon="bars"/>
          </div>
          <div v-else>
            <font-awesome-icon icon="times"/>
          </div>
        </a>
      </div>
      <nav class="nav" :class="{ responsive: isResponsive }" id="topNav">
        <g-link></g-link>
        <g-link class="nav-link" to="/about">About</g-link>
        <g-link class="nav-link" to="/services">Services</g-link>
        <g-link class="nav-link" to="/contact">Contact</g-link>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      isResponsive: false
    };
  },
  methods: {
    toggleClass() {
      this.isResponsive = !this.isResponsive;
    }
  }
};
</script>

<style>
header {
  background-color: white;
  padding: 1rem 0;
}

.icon {
  color: black;
  font-size: 1.75em;
}

.nav {
  overflow: hidden;
}

.nav .nav-link {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav .nav-link:hover {
  /*hover effect*/
}

.brand .icon {
  display: none;
  margin-top: 11px;
  margin-right: 15px;
}

@media screen and (max-width: 600px) {
  .nav .nav-link:not(:first-child) {display: none;}
  .brand .nav-link.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding-left: 1rem;
  }

  .nav.responsive {position: relative;}
  .brand.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive .nav-link {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 600px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 80px;
    max-width: 760px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand {
    float: left;
  }

  nav {
    float: right;
  }
}
</style>
